@import url(./reset.css);

.title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin: 1em 0;
  font-size: 1.3em;
  font-weight: 600;
}
.mem-list {
  max-width: 90%;
  margin: 1em auto;
}
.mem-item {
  margin: 0.5em 0;
  width: 100%;
}
.mem-input {
  appearance: none;
}
.mem-label, .mem-img-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  color:rgb(30, 30, 142);
}
.mem-symbol {
  color: black;
}
.mem-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1em;
}
.image {
  margin: 0 auto;
  width: 70%;
  opacity: 0;
}
.image-wrapper1 {
  background: url(./img/mem1.png) center / contain no-repeat;
}
.image-wrapper2 {
  background: url(./img/mem2.png) center / contain no-repeat;
}
.image-wrapper3 {
  background: url(./img/mem3.png) center / contain no-repeat;
}
.image-wrapper4 {
  background: url(./img/mem4.png) center / contain no-repeat;
}
.image-wrapper5 {
  background: url(./img/mem5.png) center / contain no-repeat;
}
input:checked ~ label > .image {
  opacity: 1;
  aspect-ratio: 1 / 1;
  transition: opacity 0.4s ease-in;
}
input:checked ~ label > .mem-symbol {
  transform: rotate(180deg);
  transition: 0.4s ease-in;
}
input:checked ~ .mem-label, .mem-img-label {
  color: black;
}

@media (min-width: 568px) {
  body {
    font-size: 1.5em;
  }
  .title {
    font-size: 1.8em;
  }
  .mem-list {
    max-width: 80%;
    margin: 1em auto;
  } 
}

@media (min-width: 1080px) {
  body {
    font-size: 1.8em;
  }
  .title {
    font-size: 2.0em;
  }
  .mem-list {
    max-width: 70%;
    margin: 2em auto;
  } 
  .mem-label, .mem-img-label {
    cursor: pointer;
  }
  .mem-symbol {
    color: white;
  }
  .mem-list:hover .mem-symbol {
    color: black;
  }
  .mem-list:hover .mem-title {
    color: black;
  }
  input:hover ~ label > .image {
    opacity: 1;
    aspect-ratio: 1 / 1;
    transition: opacity 0.4s ease-in;
  }
}

